.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
    grid-template-areas:
      "d m"
      "0 a";
}

.dialogItems {
    grid-area: d;
}

.dialogItems .dialogItem {
    color: #7c5fff;
    text-decoration: none;
}

.messages {
    grid-area: m;
}

.addMessage {
    grid-area: a;
}
