.dialogItem {
    display: table;
}

.dialogItem a {
    color: cornsilk;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
}

.dialogItem img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.dialogItem .active {
    color: indigo;
}

