.companion {
    padding: 10px;
    display: grid;
    grid-template-columns: 50px 1fr;
}

.companion img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 16px;
    margin-left: 7px;
}

.companion span {
    padding: 7px;
}

.name {
    vertical-align: top;
    color: #2a5885;
    font-weight: 600;
}
