.friend {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-areas:
    "k l b";
    border-bottom: 1px solid gray;
    padding: 10px 0;
    position: relative;
}

.friend:first-of-type {
    border-top: 1px solid gray;
}

.userLink {
    grid-area: k;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-areas:
    "i n";
    text-decoration: none;
}

.userLink img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    grid-area: i;
}

.userLink .friendName {
    padding-top: 10px;
    grid-area: n;
    align-self: start;
}

.writeMsg {
    text-decoration: none;
    grid-area: l;
    align-self: end;
    padding-bottom: 10px;

}

.friend button {
    grid-area: b;
    width: 100px;
    height: 36px;
    position: absolute;
    top: 21px;
    position: relative;
}

.friend button:hover {
	background: #03e9f4;
	color: #050801;
	box-shadow: 0 0 5px #03e9f4,
	0 0 25px #03e9f4, 0 0 50px #03e9f4,
	  0 0 200px #03e9f4;
	-webkit-box-reflect: below 1px
	linear-gradient(transparent, #0005);
}
