.me {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-areas:
    "n a"
    "m a"
}

.time {
    color: #818c99;
    font-weight: 400;
    font-size: 12px;
}

.me span {
    padding: 7px;
}

.name {
    grid-area: n;
    margin-left: auto;
    color: #2a5885;
    font-weight: 600;
}

.text {
    grid-area: m;
    margin-left: auto;
}

.ava {
    grid-area: a;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}