.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems a {
    text-decoration: none;
}

.message span {
    color: cadetblue;
    border: 5px solid deepskyblue;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-right: 10px;
    text-align: center;
}

.messageLeft {
    text-align: left;
}

.messageRight {
    text-align: right;
}