.container {
  width: 990px;
  margin: 0 auto;
  display: grid;

  grid-template-areas:
  "header header header"
  "navbar user-content content";

  grid-template-rows: 48px 1fr;
  grid-template-columns: 2fr 3fr 7fr;
}



.header {
  background-color: cornflowerblue;
  display: grid;
  grid-area: header;
  grid-template-areas:
  "header-logo header-search header-labels control-menu";

}

.header img {
  width: 100px;
}
.logo {
  grid-area: header-logo;
}
.search {
  grid-area: header-search;
}
.labels {
  grid-area: header-labels;
  display: grid;
  grid-template-areas:
  "lbl-notifications lbl-music";
}
.lbl-notifications {
  grid-area: lbl-notifications;
}
.lbl-music {
  grid-area: lbl-music;
}
.control-menu {
  grid-area: control-menu;
}

.navbar {
  background-color: lightblue;
  grid-area: navbar;
}

.user-content {
  background-color: skyblue;
  grid-area: user-content;
}

.content {
  background-color: powderblue;
  grid-area: content;
}