#root {
  height: 100%;
}

.container {
  width: 990px;
  height: 100%;
  margin: 0 auto;
  display: grid;

  grid-template-areas:
  "header header"
  "navbar profile";

  grid-template-rows: 48px 1fr;
  grid-template-columns: 2fr 10fr;
}
